@import url("https://fonts.googleapis.com/css?family=Comfortaa");

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Comfortaa", cursive;
}

#container {
  width: 100%;
  height: 100%;
}

#container #score {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 10vh;
  transition: transform 0.5s ease;
  color: #333344;
  transform: translatey(-200px) scale(1);
}

#container #game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn {
  background-color: #23D5AB;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 60px;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Days One;
}
.btn--gradient {
  animation: gradient 3s ease infinite;
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 1000% 400%;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#container .game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container .game-over * {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translatey(-50px);
  color: #333344;
}

#container .game-over h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

#container .game-ready {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#container .game-ready #start-button {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translatey(-50px);
  border: 3px solid #333344;
  padding: 10px 20px;
  background-color: transparent;
  color: #333344;
  font-size: 30px;
}

#container #instructions {
  position: absolute;
  width: 100%;
  top: 16vh;
  left: 0;
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
}

#container #instructions.hide {
  opacity: 0 !important;
}

#container.playing #score, #container.resetting #score {
  transform: translatey(0px) scale(1);
}

#container.playing #instructions {
  opacity: 1;
}

#container.ready .game-ready #start-button {
  opacity: 1;
  transform: translatey(0);
}

#container.ended #score {
  transform: translatey(6vh) scale(1.5);
}

#container.ended .game-over * {
  opacity: 1;
  transform: translatey(0);
}

#container.ended .game-over p {
  transition-delay: 0.3s;
}
